@media screen and (max-width: 1024px) {
   .footer .footer__row{
      flex-wrap: wrap;
   }
   .footer .footer__row .col-3{
      width: 46%;
   }
   .footer .phone{
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .btn-place{
      width: 100%;
      text-align: right;
      margin: 5px 38px;
   }
}

@media screen and (max-width: 576px) {
   .footer .footer__row .col-3{
      width: 100%;
   }
   .social{
      margin-bottom: 20px;
   }
   .footer-bottom__row span{
      margin-bottom: 20px;
   }
}

