.invitation__row{
   margin: -15px;
}
.invitation__item{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #F13C6E;
   margin: 15px;
   padding: 35px 45px 35px 40px;
   min-height: 60%;
   overflow: hidden;
}
.invitation__item:hover svg{ 
   animation: car 3s forwards;
}

@keyframes car {
 0% {
    transform: translateX(0%);
 }
 25%{
    transform: translateX(-30%);
 }
 50%{
    transform: translateX(200%);
 }
 75%{
    transform: translateX(-300%);
    opacity: 0;
 }
 100%{
    transform: translateX(0%);







 }
}

.invitation__title{
   font-weight: bold;
   font-size: 18px;
   line-height: 21px;
   color: #ffffff;
}
.invitation__description{
   font-size: 14px;
   line-height: 20px;
   color: #ffffff;
   margin: 25px 0 ;
}
.invitation__description--smaller{
   max-width: 141px;
}
.invitation__email input{
   font-size: 14px;
   line-height: 16px;
   color: #C4C4C4;
   padding: 10px 26px;
   border-radius: 30px;
   outline: none;
   border: none;
}
.invitation__link{
   display: block;
   font-size: 14px;
   line-height: 16px;
   color: #ffffff;
   background: #F13C6E;
   border: 2px solid #FFFFFF;
   box-sizing: border-box;
   border-radius: 30px;
   text-decoration: none;
   padding: 8px 28px;
   text-align: center;
}